@import "./../../../settings.scss";

#resume{
    .sm-circle{
        height: 175px;
        width: 175px;
    }
    .col{
        margin: 0 auto;
    }
    p{
        font-size: 0.8em;
        display: inline;
    }
    a{
        color: $secondary-color;
        &:hover{
            text-decoration: underline; 
        }
    }
    h6{
        display: inline;
    }
    .tenure-text{
        margin-left: 0.5em;
    }
    .role-details, #education{
        ul {
            margin: 0;
          }
          ul.dashed {
            list-style-type: none;
          }
          ul.dashed > li {
            text-indent: -5px;
          }
          ul.dashed > li:before {
            content: "-";
            text-indent: -5px;
          }
    }
    #professional-snapshot article{
        padding-bottom: 0px;
    }
    #education{
        border-bottom: none;
    }
    #side-panel{
        padding-left: 60px;
    }
    .side-item-inside{
        margin-bottom: 0.5em;
    }
    .side-item{
        margin-bottom: 1.5em;
    }
    .download-file{
        font-size: 5em;
        text-align: center;
        transform: scale(2);
        a{
            &:hover{
                color: $text-active-color;
            }
        }
    }
    .git-details{
        ul{
            padding-left: 0px;
            font-size: 0.8em;
            a{
                color: $text-active-color;
                &:hover{
                    color: $secondary-color;
                    text-decoration: underline;
                }
            }
        }
    }
}