@import "./../../settings.scss";

#header-area{
    border-bottom: 1px solid $border-color-lightgray;
    &:hover{
        border-color: $secondary-color;
    }
    a.nav-link:hover{
        color: $secondary-color;
        text-decoration: underline; 
    }
    .navbar-brand{
        margin-right: 50px;
    }
}

