@import "~bootstrap/scss/bootstrap";
@import "./settings.scss";

#app{
  *{
    box-sizing: border-box;
  }
  font-family: work sans, sans-serif;
  .app {
    text-align: center;
   // background-color: #282c34;
    min-height: 100vh;
    font-size: 1.2em;//calc(10px + 2vmin);
   // color: white;
  }
  
  p{
    margin: 0px;
  }
  
  .App-link {
    color: #61dafb;
  }

  section{
  padding: 20px 0;
  .section-title{
    position: relative;
    padding: 0;
    font-family: work sans,sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 20px;
    &.page-title{
      font-size: 2.5em;
    }
    span{
      margin: 8px 0;
      display: inline-block;
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: $secondary-color;
      opacity: .3;
    }
  }
}

article{
  border-bottom: 1px solid $secondary-color;
  padding: 20px 0;
}
.sm-circle{
  text-transform: uppercase;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 10px 10px;
  text-align: center;
  font-size: 0.8em;
  color: $text-active-color;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  display: inline-flex;
  &:hover{
      filter: grayscale(100%);
      -webkit-filter: grayscale(1);
      color: $primary-color;
      border: 1px solid $border-color-lightgray;
  }
}
.red-circle{
  background-color: rgba(232, 53, 86, 1);
  border: 1px solid rgba(232, 53, 86, 1);
}  
.cyan-circle{
  background-color: rgba(97, 208, 212, 1);
  border: 1px solid rgba(97, 208, 212, 1);
}
.yellow-circle{
  background-color: rgba(209, 201, 38, 1);
  border: 1px solid rgba(209, 201, 38, 1);
}
}
